<main>
	<h2>Handmade, Fresh, Daily!</h2>
		{{#each donuts}}
			<div class="donut-container">
				<span><img class="main-img" src="{{this.img}}"></span>
				<h3>   <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>></h3>
				<p>{{this.price}} each </p>
			</div>
		{{/each}}
</main>
