<h1>Add a pirate</h1>

<form method="POST" action="/pirates">
<div>
    <div>
        <label for="name" ></label>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <label for="birthplace"></label>
        <input type="text" name="birthplace" placeholder="Birthplace">
    </div>
    <div>
        <label for="death_year"></label>
        <input type="number" name="death_year" placeholder="Death Year">
    </div>
    <div>
        <label for="base"></label>
        <input type="text" name="base" placeholder="Base">
    </div> 
    <div>
        <label for="nickname"></label>
        <input type="text" name="nickname" placeholder="Nickname">
    </div>
    <div>
        <button>Add Pirate</button>
    </div>
</div>  
</form>

<a href="/pirates">Back to Pirates Wiki</a>